@import './variables.css';

/* Apenas estilos gerais. Estilos de componentes e páginas ficam em cada Nome.module.css */

:root {
    font-family: var(--fonte-principal);
    font-synthesis: none;
    color: var(--cor-primaria);
    background: var(--cor-clara);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 320px;
    min-height: 100vh;
    font-family: var(--fonte-principal);
    background:
        linear-gradient(to bottom, var(--cor-fundo-1), var(--cor-fundo-2)), var(--cor-clara);
    color: var(--cor-texto-simples);
}

button,
input {
    font: inherit;
}

button,
a {
    -webkit-tap-highlight-color: transparent;
}
