:root {
  --cor-tracado-1: #BBC0FF;
  --cor-tracado-2: #D6D6F5;
  --cor-erro: #D64545;
  --cor-escura-1: #113BBB;
  --cor-escura-2: #280699;
  --cor-fundo-1: #FEFFF8;
  --cor-fundo-2: #f3f5e4;
  --cor-fundo-3: #F9F9F9;
  --cor-fundo-4: #F3F3F0;
  --cor-texto-simples: #1a1a1a;
  --cor-texto-suave: #a2a2ad;
  --cor-primaria: #080808;
  --cor-clara: #FEFFF3;
  --cor-escura-azul: #113BBB;
  --cor-clara-verde: #C9E338;
  --cor-escura-vinho: #4A1830;
  --cor-clara-vinho: #EDDAE3;
  --azul-claro: #B3C0E0;
  --cinza-claro: #cacacb;
}
