:root {
  --cor-tracado-1: #BBC0FF;
  --cor-escura-1: #113BBB;
  --cor-escura-2: #280699;
  --cor-fundo-1: #FEFFF8;
  --cor-fundo-2: #f3f5e4;
  --cor-fundo-3: #F9F9F9;
  --cor-texto-simples: #1a1a1a;
  --cor-texto-suave: #a2a2ad;
  --fonte-principal: 'Space Grotesk', Arial, sans-serif;
  --tamanho-fonte-1: 4rem;
  --tamanho-fonte-3: 1rem;
  --sombra-1: 0 4px 4px rgba(0, 0, 0, 0.25);
}